<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>some page</title>
</head>
<body>
    <h1>{{ pageTitle }}</h1>
     <p><a href="/">home page</a></p>
    <p><a href="/about">About page</a></p>
    <p>{{message}}</p>
    
{{>footer}}
</body>
</html>